[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/b1-systems-ansible-role-suseconnect"]
	path = ansible/roles/b1-systems-ansible-role-suseconnect
	url = https://github.com/b1-systems/ansible-role-suseconnect.git
