[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/b1-systems-ansible-role-suseconnect"]
	path = ansible/roles/b1-systems-ansible-role-suseconnect
	url = https://github.com/b1-systems/ansible-role-suseconnect.git
[submodule "ansible/roles/add_all_nodes_to_etc_hosts"]
	path = ansible/roles/add_all_nodes_to_etc_hosts
	url = https://github.com/johanneskastl/ansible-role-add_all_nodes_to_etc_hosts.git
[submodule "ansible/roles/install_one_or_more_packages"]
	path = ansible/roles/install_one_or_more_packages
	url = https://github.com/johanneskastl/ansible-role-install_one_or_more_packages.git
[submodule "ansible/roles/minimal_bashrc"]
	path = ansible/roles/minimal_bashrc
	url = https://github.com/johanneskastl/ansible-role-minimal_bashrc.git
[submodule "ansible/roles/create_a_vimrc"]
	path = ansible/roles/create_a_vimrc
	url = https://github.com/johanneskastl/ansible-role-create_a_vimrc.git
[submodule "ansible/roles/add_screenrc"]
	path = ansible/roles/add_screenrc
	url = https://github.com/johanneskastl/ansible-role-add_screenrc.git
[submodule "ansible/roles/install_chrony"]
	path = ansible/roles/install_chrony
	url = https://github.com/johanneskastl/ansible-role-install_chrony.git
[submodule "ansible/roles/set_ntp_servers_for_chrony"]
	path = ansible/roles/set_ntp_servers_for_chrony
	url = https://github.com/johanneskastl/ansible-role-set_ntp_servers_for_chrony.git
[submodule "ansible/roles/set_fau_ntp_servers"]
	path = ansible/roles/set_fau_ntp_servers
	url = https://github.com/johanneskastl/ansible-role-set_fau_ntp_servers.git
[submodule "ansible/roles/install_useful_tools"]
	path = ansible/roles/install_useful_tools
	url = https://github.com/johanneskastl/ansible-role-install_useful_tools.git
[submodule "ansible/roles/reboot"]
	path = ansible/roles/reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
[submodule "ansible/roles/AlmaLinux_install_epel-release"]
	path = ansible/roles/AlmaLinux_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-AlmaLinux_install_epel-release.git
[submodule "ansible/roles/CentOS_install_epel-release"]
	path = ansible/roles/CentOS_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-CentOS_install_epel-release.git
[submodule "ansible/roles/RedHat_install_epel-release"]
	path = ansible/roles/RedHat_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-RedHat_install_epel-release.git
[submodule "ansible/roles/RockyLinux_install_epel-release"]
	path = ansible/roles/RockyLinux_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-RockyLinux_install_epel-release.git
[submodule "ansible/roles/update_debian_ubuntu_sources"]
	path = ansible/roles/update_debian_ubuntu_sources
	url = https://github.com/johanneskastl/ansible-role-update_debian_ubuntu_sources.git
[submodule "ansible/roles/zypper_ref_accept_keys"]
	path = ansible/roles/zypper_ref_accept_keys
	url = https://github.com/johanneskastl/ansible-role-zypper_ref_accept_keys.git
[submodule "ansible/roles/add_zypper_repository"]
	path = ansible/roles/add_zypper_repository
	url = https://github.com/johanneskastl/ansible-role-add_zypper_repository.git
[submodule "ansible/roles/set_hostname"]
	path = ansible/roles/set_hostname
	url = https://github.com/johanneskastl/ansible-role-set_hostname.git
[submodule "ansible/roles/set_root_password"]
	path = ansible/roles/set_root_password
	url = https://github.com/johanneskastl/ansible-role-set_root_password.git
[submodule "ansible/roles/transactional_update"]
	path = ansible/roles/transactional_update
	url = https://github.com/johanneskastl/ansible-role-transactional_update.git
